# Scriptura Environment Configuration
# Set to 'true' if the app includes ads, in-app purchases (IAP), or subscriptions.
# When true: NIV is completely excluded (no commercial license available).
# Other licensed translations are flagged as requiring a license.
# When false: all translations use the free non-commercial API.Bible key.
EXPO_PUBLIC_IS_COMMERCIAL=false

# API.Bible API key (https://docs.api.bible)
EXPO_PUBLIC_API_BIBLE_KEY=

# Supabase Backend Configuration
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
